version: '3.8'

services:

  db:
    build: 
      dockerfile: ./docker/postgres/Dockerfile
      context: .
    container_name: db
    restart: unless-stopped
    volumes:
      - database:/var/lib/postgresql/data
    env_file:
      - ./.env
    ports:
      - '5432:5432'

  redis:
    container_name: redis
    image: redis:alpine
    command: redis-server
    ports:
      - '6379:6379'
    volumes:
      - redis_volume:/data
  
  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    depends_on:
      - db
    ports:
      - '5050:80'
    env_file:
      - ./.env
    
  back:
    build: 
      dockerfile: ./docker/handler/Dockerfile
      context: .
    restart: always
    image: oxdium/file_handler:latest
    command: ['/app/docker/handler/entrypoint_app.sh']
    container_name: back
    depends_on:
      - db
      - redis
    volumes:
      - static_volume:/app/static/
      - media_volume:/app/media/
    env_file:
      - ./.env

  nginx:
    container_name: nginx
    image: nginx:1.21.3-alpine
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/var/html/static/
      - media_volume:/var/html/media/
    depends_on:
      - back

volumes:
  database:
  redis_volume:
  pgadmin:
  static_volume:
  media_volume: